//The colours of the navbar
$bgCol: #f3a154;
$navCol: #ef7547;

//Lighter/Darker variants used with some buttons
$lightCol: lighten($navCol, 30%);
$darkOrange: darken($navCol, 30%);

//Colours for featured product "cards" on the home page
$cardTextCol: rgb(126, 126, 126);
$cardCol: rgb(235, 235, 235);
$cardColDark: rgb(214, 214, 214);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Default navbar*/
.navbar,
.searchContainer {
  background-color: $bgCol;
}
/*Navbar buttons NOT selected*/
.navItem,
.navButton {
  background-color: $navCol;
  color: black;
}
.navItem {
  background: none;
}
/*Navbar links NOT selected*/
.navItem a,
.navButton a,
.navButton a:visited {
  background: none;
  color: black !important;
  text-decoration: bold;
}
.navButton {
  border: none;
  width: 120%;
  border-radius: 8px;
}

.navItem a:hover {
  color: white !important;
}

/*Navbar links/buttons selected*/
.navItem:hover,
.navButton:hover {
  background-color: $navCol;
  border-radius: 8px;
  color: whitesmoke;
}

.navItemCurrent a {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
}

/*Search related stuff*/
.searchResult {
  border: 2px double whitesmoke;
  border-right: none;
  border-left: none;
  border-top: none;
  font-size: 1.5rem;
}

.searchbar {
  width: 100%;
  font-size: 16pt;
}

/*Search button and drop down menu for search categories*/
#searchButton,
#dropdown button {
  border-radius: 0 0 0 0;
  background-color: $navCol;
  border-color: $bgCol;
  z-index: 1;
  position: relative;
  color: black;
}

#dropdown button:hover,
#searchButton:hover {
  border-radius: 0 0 0 0;
  background-color: $lightCol;
  border-color: $lightCol;
}

a:hover {
  color: #bf4011;
}

/*General class for centering */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

/*Outer flex container of all featured products */
.flex-container {
  display: flex;
  justify-content: space-evenly;
}

/*Inner flex container of featurd product "cards".
(Includes an image title and price, plus a hovered description and buy button)*/
.flex-card {
  display: flex;
  width: 256px;
  flex-wrap: wrap;
}

.productCard {
  border-radius: none;
  background: $cardCol;
}

.card-image {
  margin: auto;
}

/*Bottom block of a card */
.card-title {
  background: $cardColDark;
  text-align: center;
  width: 100%;
  height: 30%;
}

/*Text within a card */
.productCard h3,
.productCard p {
  color: $cardTextCol;
}

/*Part of the card that will fade in once hovered over */
.card-buy {
  font-size: 1rem;
  opacity: 0;
  position: absolute;
  height: 256px;
  width: 256px;
  text-align: center;
  transition: 0.5s;
}

.productCard:hover .card-buy {
  opacity: 0.8;
  background-color: $cardCol;
}

.card-desc {
  font-size: 1rem;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 00%);
  text-align: center;
}

/*The buy button */
.btn-round {
  border-radius: 20px;
  border: none;
  color: grey;
  background-color: white;
  text-decoration: none !important;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 20px;
  font-size: 1rem;
  position: relative;
  top: 60%;
}

.orange {
  color: $navCol;
  text-emphasis-color: $navCol;
}

/* Other button variants */
.btn-darkOrange,
.btn-lightOrange,
.btn-orange {
  border-radius: 8px;
  border: none;
}

.btn-lightOrange {
  background-color: $lightCol;
}

.btn-lightOrange:hover {
  background-color: $bgCol;
}

.btn-darkOrange {
  background-color: $navCol;
}

.btn-darkOrange:hover {
  background-color: #90310d;
}

.btn-orange {
  background-color: $bgCol;
}

.btn-orange:hover {
  background-color: $navCol;
}

.btn-wide {
  width: 20%;
  padding: 2%;
}

/* +/- buttons */
.btn-quantity {
  font-size: 2rem;
  width: 3rem;
}

/*Desktop only */
@media screen and (min-width: 991px) {
  /*Button corners*/
  #dropdown button {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  #searchButton {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  #dropdown button:hover {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  #searchButton:hover {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
/* Tablets and phones */
@media screen and (max-width: 780px) {
  //Navbar
  .mobileNav {
    display: block;
  }

  .desktopNav {
    display: none;
  }

  .nav-link {
    font-size: 2rem;
  }

  .navButton {
    padding: 5px;
  }

  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }

  .btn-wide {
    width: 40%;
    padding: 2%;
  }

  #userText {
    font-size: 1rem;
  }

  .flex-container {
    flex-flow: column wrap;
    justify-content: space-between;
  }

  .flex-card {
    margin: auto;
    padding-bottom: 3rem;
  }
}

/* The sidebar menu ------------------------------------------------------------------------------------------------------------------------ */
.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 20%;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #111;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.mobileNav {
  display: none;
}

.desktopNav {
  display: block;
}

/* Scrollbar of the sidebar ------------------------------------------------------------------------------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
