body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"] {
  width: 40%;
}

/*Home page stuff*/
.treeImg {
  top: -5%;
  z-index: 0;
  width: 70%;
  height: 70%;
  /*background-color: lightblue;*/
}

.treeLink {
  left: 0%;
  top: 40%;
  z-index: 1;
}

/* unvisited link */
.treeLink a:link {
  color: black;
}

/* visited link */
.treeLink a:visited {
  color: black;
}

/*Links look a tad too big on small screens*/
@media only screen and (max-width: 800px) {
  a {
    font-size: 24px;
  }
}

.treeBg {
  background-color: lightblue;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Make grid input less spaced out*/
.margin-n {
  margin-right: -15%;
}

/* The sidebar menu ------------------------------------------------------------------------------------------------------------------------ */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* Scrollbar of the sidebar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */
